.menu__link {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

/* ABAIXO: Esse item .ativo, permite que, quando se estiver em det. página, o formato do botão seja o estilo abaixo.

Para funcionar, devo add um "class="ativo"" no html*/

.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}