.pessoa__imagem {
    background: red; /*Para TESTAR e VISUALIZAR o fundo enquanto estilizo*/
    background-size: cover; /*ocupando todo o fundo*/
    
    border-radius: 100%;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    
/*Para que as imagens NÃO SE REPITAM*/ 
    background-repeat: no-repeat;
}

/*Adicionando imagens*/

.pessoa__imagem--roberta {
    background-image: url("../../img/pessoas/roberta.jpg");
}

.pessoa__imagem--marcela {
    background-image: url("../../img/pessoas/marcela.jpg");
}

.pessoa__imagem--andreia {
    background-image: url("../../img/pessoas/andreia.jpg");
}