.pessoa {
    display: flex;
    flex-direction: column;
}


/*Responsividade - Mobile*/

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem; /*se usa o m-bottom para espaçamentos na parte inferior da tela*/
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}