.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    
}


/*Responsividade - Mobile*/

@media screen and (min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 100%; /*que darrá 1 receita por linha*/
    }
}

@media screen and (min-width: 768px) {
    .receita {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem); /*para ficar 3 receitas em 1 linha e a próx. receita pula para a linha de baixo.*/
    }
}

@media screen and (min-width: 992px) {
    .receita {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}